.Price{
    margin: auto;
    align-items: center;
    text-align: center;
}
.BurgerControls{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f7f5f2;
    padding-top: 20px;
    padding-bottom: 40px;
}
.OrderNowContainer{
    text-align: center;
    align-items: center;
    margin-top: 30px;
}
.Button[disabled]{
    cursor: not-allowed;
}