.Button{
    margin-left:  10px;
    margin-right:  10px;

    width: 100px;
}
.ButtonCol{
    align-items: center;    
    text-align: center;
    margin-bottom: 100px;
}
.Container{
    width: 75%;
}