.Container{
    margin: auto;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: solid 1px #ccc;
    box-shadow: 3px 3px 5px #ccc;
    width: 50% !important;
}
.Button{
    width: 100px;
}
